# macOS metadata
.DS_Store
**/.DS_Store

# Compiled executables and debug folders
*.exe
*.out
*.app
*.bin
*.o
*.obj
*.dSYM/
.vscode/

# Ignore all extensionless binaries (C++ builds on Mac)
*
!*/
!*.cpp
!*.c
!*.h
!*.hpp
!*.java
!*.dart
!*.py
!*.md
!*.txt
!.gitignore